@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  min-width: 400px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
